body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background-color: #edf5fc; 
}

.botoes button {
  display: inline-block;
  margin-right: 5px; 
}

.bg_site{
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: black;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px; 
}
canvas {
  border: 2px solid #3498db; 
  background-color: #ffffff; 
  width: 80%; 
  max-width: 800px; 
  height: auto; 
}

label {
  margin-top: 10px;
  color:black; 
  background: rgba(255, 255, 255, 0.5);
  padding: 10px; 
}

input {
  width: 80%;
  margin: 5px 0;
  background-color: #edf5fc; 
  border: 1px solid #3498db; 
}

span {
  color:black; 
  font-weight: bold;
  background: rgba(255, 255, 255);
  padding: 10px; 
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background-color: #2980b9; 
}